@charset "windows-1251";
/* CSS Document */

@font-face {
    font-family: 'als_rublregular';
    src: url('rouble-webfont.eot');
    src: url('rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('rouble-webfont.woff') format('woff'),
         url('rouble-webfont.ttf') format('truetype'),
         url('rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rub {font-family: 'als_rublregular' !important;}


* {margin:0; padding:0;}
img {border:none;}

html, body { height:100%;}

h1 {}
p { padding:0 0 10px;}
a {color:#000;}
a:hover { text-decoration:none;}
.over {float:left; width:100%; min-height:100%; overflow:hidden; position:relative; min-width:1260px; margin-bottom:-90px;}
.f-clear {clear:both;width:100%; height:260px;}


.clearfix {
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

input[type='submit']::-moz-focus-inner, button::-moz-focus-inner { 
	padding:0;
	border:0;
	}

input, textarea {font-family:arial, "Trebuchet MS";}

span.v1 {display: table; #display:block; float:left; #position: relative; height:auto; overflow: hidden;}
span.v2 {#position: absolute; #top: 50%;display: table-cell; vertical-align: middle;}
span.v3 {#position: relative; #top: -50%;}
strong, b { font-weight:bold;}
i, em {font-style:italic;}

body {font-family: 'PT Sans', sans-serif; line-height:1.3; font-size:14px; background:url(../img/bg.png) repeat;}

.all { margin:0 auto; width:955px;}
.all2 { margin:0 auto; width:1215px;}


header {}



div.head-form {float:left; width:100%; display:none; position:absolute;left:0;top:0;height:100%;z-index:4453; background:url(../img/redbg.png) repeat; }
div.head-form div.b-form-head {float:left;width:100%; position:relative;}
div.head-form div.img-cap { margin:23px 0 0;}
div.head-form div.title {float:left; font-size:35px; margin:0 0 25px;color:#fff;width:100%; font-weight:bold;}
div.head-form a.close { display:block; position:absolute;top:0; right:0; background:url(../img/close.png); width:28px; height:28px;float:right;}
div.head-form div.form-text {float:left;width:280px; color:#fff; margin:20px 0 0;font-size:14px; }
div.head-form div.form {float:right;width:620px;}
div.head-form div.form table {float:left; width:100%;}
div.head-form div.form table td { padding:5px 0 5px 15px; width:290px;}
div.head-form div.form table th { padding:5px 0; text-align:left; vertical-align:top;}
div.head-form div.form label {color:#f4aa3b; margin:0 0 5px; display:block;}
div.head-form div.form input[type=text], div.head-form div.form input[type=email] { background:#fff; border:none; height:35px; line-height:34px; padding:0 2%; width:96%; box-shadow:3px 3px 0px 1px #6a1315;}
div.head-form div.form textarea { background:#fff; border:none; resize:none; height:100px; line-height:34px; padding:5px 2%; width:96%; box-shadow:3px 3px 0px 1px #6a1315;}
div.head-form div.form input.but {color:#000; font-size:14px; font-weight:bold; padding:5px 15px; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #6a1315; cursor:pointer; border:none;}
div.head-form  .input-file-box  {
    position: relative;
	float:left;
    overflow: hidden;
	cursor:pointer;
	background:url(../img/file2.png);
	width:304px; 
	height:39px;
}
div.head-form  .input-file-box  input[type=text] {
    position: absolute;
    top: 1px;
    left: 5px;
    width:200px !important;
	box-shadow:0 0 0 #fff !important;
    height:39px;
    line-height: 16px;
    border: none !important;
	box-shadow:none;
	background:none !important;
	cursor:pointer;
}

div.obertka-head {float:left; width:100%; position:relative;padding:30px 0 40px;}
div.menu .link-open { display:block;float:right; background:url(../img/btn-otziv.png) 0 0 no-repeat; line-height:1.3; position:absolute;top:0;left:50%; margin-left:435px;  padding:5px 0 0 27px; height:78px; width:155px;color:#fff; font-size:14px; text-decoration:none; font-weight:bold; z-index:44;}
div.menu .link-open span { background:url(../img/palka-otziv.png) 0 100% no-repeat; height:35px; width:12px; position:absolute;top:44px; left:76px; display:block;}
div.menu .link-open:hover span {

}
a.f-arenda {    display: block;
    height: 77px;
    left: 87px;
    position: absolute;
    top: 126px;
    width: 62px;
}
div.head-form div.b-form-head p.form-result {    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 16px;
    padding: 80px 100px 0;
    text-align: center;
    width: 412px;
}

nav { font-weight:bold;margin:0 auto; width:1215px;  text-transform:uppercase; font-size:17px;color:#fff;}
nav ul {} 
nav li{float:left; margin-right:15px;}
nav li a{color:#fff; text-decoration:none;}

div.menu {float:left; position:relative; height:36px; line-height:35px; width:100%;background:url(../img/menu-bg.png) repeat;}


div.content {}




footer {float:left; width:100%; position:relative; background:url(../img/foot.png) repeat; height:90px;}
footer div.copy {float:left; background:url(../img/city.png) 0 0 no-repeat; padding:210px 50px 0 0; position:absolute;top:-185px; left:-20px;  width:458px;color:#8a7f7f; font-weight:bold;}
footer div.copy a {color:#fff;}

footer div.city { position:absolute;top:-53px;left:0; background:url(../img/foot-city.png) repeat-x; height:54px; width:100%;}
footer div.foot {float:left; width:100%; position:relative;}
footer div.socs {float:left; margin:30px 0 0 515px;}
footer div.socs img { margin-right:10px;}
footer div.b-err {float:left; margin:37px 0 0 35px; font-size:11px;color:#fff;}
footer div.b-err a {color:#fff; text-decoration:none;}
footer div.b-spletni {float:right;color:#fff; font-size:14px; margin:35px 0 0;  text-decoration:none;  background:url(../img/keks.png) 0 0 no-repeat;width:44px; height:25px; font-weight:bold;}
.en footer div.b-spletni  { background:url(../img/hot_en.png) 0 0 no-repeat;}
footer div.b-spletni a {color:#fff; text-decoration:none;display:block;width:44px;height:25px;}
 


div.container-main {float:left; width:100%; position:relative;}
div.container-main div.rasporka {float:left; width:100%; position:relative; height:100%; min-height:480px;}
div.container-main a.logo { height:230px; overflow:hidden;display:block;z-index:524; position:relative; width:432px;left:-25px;}
div.container-main a.logo span { display:block; height:1150px; background:url(../img/logo3.png) 0 0 no-repeat;display:block; position:relative; width:432px;}
div.container-main div.lang { position:absolute;top:27px; left:375px;display:none;}
div.container-main div.lang a {color:#a21d21; text-decoration:none;}
div.container-main div.tel { position:absolute;left:680px;top:27px; width:180px;}
div.container-main div.tel span {color:#222633; font-size:14px; display:block;}
div.container-main div.tel div.number {color:#222633; font-size:18px; background:url(../img/tel.png) 0 3px no-repeat; padding-left:25px; position:relative; left:-25px;}
div.container-main div.tel div.txt{color:#676b76; font-size:14px;}
 .kb-plus { position:absolute;top:156px; left:0;}
 .kb-online { position:absolute;top:200px;left:125px;}
.kb-katalog {position:absolute;top:278px; left:0;}
 
 .butilka { padding:290px 0 0; display:block; width:257px; position:absolute;top:15px; left:380px; }
.butilka + .butilka { padding:235px 0 0; width:292px; position:absolute;top:85px; left:635px;}
.butilka + .butilka  + .butilka { padding:235px 0 0; width:262px;position:absolute;top:40px; left:930px !important; }
div.vert-center .butilka:last-child{ padding:235px 0 0; width:262px;position:absolute;top:40px; left:930px !important; }
.butilka .cost {float:left;color:#fff; font-size:18px; font-weight:bold;}
.butilka .cost {float:left;color:#fff; margin-bottom:10px; margin-left:40px; font-size:18px; font-weight:bold;}
.butilka .cost span.up { position:relative;top:-7px; font-size:10px; text-decoration:underline; font-weight:normal; margin:0 2px;}
.butilka .cost span.rub {}
.butilka .text {color:#222633;float:left; width:100%; font-size:14px;}
.butilka + .butilka .cost {float:left;color:#fff; margin-left:45px; font-size:18px; font-weight:bold;}
.butilka:last-child .cost {float:left;color:#fff; margin-left:50px; font-size:18px; font-weight:bold;}
.butilka .text {margin-left:40px;float:left;width:210px;}
.butilka + .butilka .text {margin-left:38px;margin-top:10px;float:left;width:210px;}
.butilka:last-child .text {margin-left:40px;float:left;width:210px; margin-top:10px;}

div.butilks { }

div.f-main-clear { clear:both;width:100%; height:135px;}

div.black-bg { position:fixed;top:0; left:0;width:100%; height:100%; background:url(../img/black-bg.png) repeat; display:none; z-index:52;}
div.blok-err-mail { background:url(../img/form-mail.png) no-repeat;top:50%; margin-top:-260px; display:none; text-align:left; width:610px; z-index:557; height:559px; padding:35px 90px 0 90px; position:fixed;left:50%; margin-left:-400px;}
div.blok-err-mail div.title {color:#fff; font-size:22px; margin:0 0 10px;}
div.blok-err-mail .close { display:block; background:url(../img/close-w.png) no-repeat; width:28px; height:28px; position:absolute;top:27px;right:60px;}
div.blok-err-mail table {width:100%; font-size:14px;}
div.blok-err-mail table th { width:300px; vertical-align:top; padding:8px 0;}
div.blok-err-mail table td { width:300px; vertical-align:top; padding:8px 0 8px 15px;}
div.blok-err-mail input[type=text], div.blok-err-mail input.pole { background:#fff; border:none; height:35px; line-height:34px; padding:0 2%; width:96%; box-shadow:3px 3px 0px 1px #192442;}
div.blok-err-mail textarea { background:#fff; border:none; height:90px; line-height:34px; padding:5px 2%; width:96%; box-shadow:3px 3px 0px 1px #192442;}
div.blok-err-mail label { margin:0 0 4px; color:#fff;display:block;}
div.blok-err-mail input.but {color:#000; font-size:14px; font-weight:bold; padding:5px 15px; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #192442; cursor:pointer; border:none;}
div.blok-err-mail div.cap { margin:23px 0 0;}


div.blok-err-mail .input-file-box {
    position: relative;
    width: 624px;
	float:left;
    height: 39px;
    overflow: hidden;
	cursor:pointer;
    background: url(../img/file.png) 0 0 no-repeat;
}
div.blok-err-mail .input-file-box input[type=text] {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 590px;
    height: 30px;
    line-height: 16px;
    border: none;
	box-shadow:none;
	background:none;
	cursor:pointer;
    background: transparent;
}


div.black-bg2 { position:fixed;top:0; left:0; width:100%; height:100%;background:url(../img/black-bg.png) repeat; z-index:780; }

div.b-pop-login { background:url(../img/pop-login.png); width:378px; position:fixed;top:50%; left:50%; margin:-120px 0 0 -190px; color:#fff; font-size:14px; text-align:center;height:174px; z-index:800; padding:45px 0 0;}
div.b-pop-login div.txt { line-height:1.4; margin:0 0 25px;}
div.b-pop-login a.btn-on {color:#000; font-size:14px; font-weight:bold; margin:0 10px; padding:5px 5px; width:90px; display:inline-block; *display:inline;zoom:1; position:relative; vertical-align:top; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #6a1315; cursor:pointer; border:none; text-decoration:none;}
div.b-pop-login a.btn-off {color:#000; font-size:14px; font-weight:bold; margin:0 10px; padding:5px 5px; width:90px; display:inline-block; *display:inline;zoom:1; position:relative; vertical-align:top; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #6a1315; cursor:pointer; border:none; text-decoration:none;}
div.b-pop-login .log1 {}
div.b-pop-login .log2 {display:none;margin:20px 20px 0;}
div.b-pop-login .close { display:block; position:absolute;top:10px; right:10px; background:url(../img/close.png); width:28px;cursor:pointer; height:28px;float:right;}

div.min-h { height:100%; position:relative; width:100%; min-width:1260px;min-height:720px;float:left;}

div.slider-spletni { background:url(../img/b-spletni.png) no-repeat; width:675px; height:321px;}



div.b-pop-login { background:url(../img/pop-login.png); width:378px; position:fixed;top:50%; left:50%; margin:-120px 0 0 -190px; color:#fff; font-size:14px; text-align:center;height:174px; z-index:800; padding:45px 0 0;}
div.b-pop-login div.txt { line-height:1.4; margin:0 0 25px;}
div.b-pop-login a.btn-on {color:#000; font-size:14px; font-weight:bold; margin:0 10px; padding:5px 5px; width:90px; display:inline-block; *display:inline;zoom:1; position:relative; vertical-align:top; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #6a1315; cursor:pointer; border:none; text-decoration:none;}
div.b-pop-login a.btn-off {color:#000; font-size:14px; font-weight:bold; margin:0 10px; padding:5px 5px; width:90px; display:inline-block; *display:inline;zoom:1; position:relative; vertical-align:top; background:url(../img/btn-yell.png) repeat;box-shadow:3px 3px 0px 1px #6a1315; cursor:pointer; border:none; text-decoration:none;}


div.spletni-pop { position:absolute;top:-999em;right:0px; background:url(../img/b-spletni.png) no-repeat; height:251px;width:611px; padding:75px 25px 0; font-size:14px;color:#fff;}
div.spletni-pop .close { cursor:pointer; display:block; background:url(../img/close.png); width:28px; height:28px; position:absolute;top:30px;right:70px;}
div.slider-spletni {}
div.slider-spletni div.slid {float:left; width:530px;}
div.slider-spletni div.slid div.img{float:left;width:135px; margin-left:20px;}
div.slider-spletni div.slid div.right {float:right;width:340px;}
div.spletni-pop .prev-spletni { display:block; background:url(../img/arr2.png) 0 0 no-repeat; position:absolute;bottom:75px;right:115px; width:28px; height:28px;}
div.spletni-pop .next-spletni {display:block; background:url(../img/arr2.png) 100% 0 no-repeat; position:absolute;bottom:75px;right:78px; width:28px; height:28px;}

div.spletni-pop.view {bottom:0;top:auto;}


div.center-center  { position:absolute;top:50%; height:480px; left:50%; width:1240px; margin:-240px 0 0 -620px;}

@media screen and (min-width: 1630px){
.kb-plus {top:80px;}
.kb-online {top:145px;}
.kb-katalog {top:228px;}
div.min-h {min-height:830px;}
.butilka {top:-10%;}
.butilka + .butilka {top:20%;}
div.vert-center .butilka:last-child {top:5%}

.over {margin-bottom:-131px;}
div.f-main-clear {height:160px;}
footer { height:130px;}
footer div.copy {padding-top:230px;}
footer div.socs {margin-top:53px;}
footer div.b-err {margin-top:60px;}
footer div.b-spletni {margin-top:55px;}
}

